<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >Mean auth app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">

            <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard']" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.loggedIn()" >Dashboard</a>
            <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/profile']" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.loggedIn()">Profile</a>

            <a class="nav-item nav-link active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!authService.loggedIn()">Login</a>
            <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!authService.loggedIn()">Register</a>
            <a *ngIf="authService.loggedIn()" class="nav-item nav-link" href="#" (click)="onLogoutClick()" >Logout</a>
          </div>
        </div>
      </nav>
